 .u-section-1 {
  background-image: url("images/firstphoto.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-1 .u-shape-1 {
  width: 584px;
  height: 584px;
  margin: 210px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 409px;
  min-height: 837px;
  height: auto;
  margin: -560px 90px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 33px 26px 0 34px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-1 .u-group-2 {
  height: 202px;
  width: 202px;
  margin: 14px 99px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-1 .u-icon-1 {
  height: 194px;
  width: 194px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-group-3 {
  height: 202px;
  width: 202px;
  margin: -202px auto 60px 90px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-1 .u-icon-2 {
  width: 172px;
  height: 172px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 46.61% 95%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-shape-1 {
    width: 347px;
    height: 347px;
  }

  .u-section-1 .u-group-1 {
    width: 310px;
    min-height: 430px;
    margin-top: -420px;
    margin-right: 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 112px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 105px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 99px;
    width: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 105px;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 42.06% 96.08%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-shape-1 {
    width: 311px;
    height: 311px;
    margin-top: 166px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -311px;
    margin-right: -75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
    margin-right: 6px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 6px;
    margin-right: 66px;
    margin-left: 115px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -434px;
    margin-right: -12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -104px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 33.02% 70.54%;
    background-size: auto 120%;
  }

  .u-section-1 .u-shape-1 {
    width: 287px;
    height: 287px;
    margin-top: 171px;
    margin-right: -32px;
  }

  .u-section-1 .u-group-1 {
    min-height: 253px;
    width: 299px;
    margin-top: -253px;
    margin-right: -29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 18px;
    margin-right: 37px;
    margin-left: 52px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 99px;
    margin-right: auto;
    margin-left: -42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-icon-1 {
    height: 100px;
    margin-top: 3px;
  }

  .u-section-1 .u-group-3 {
    margin-right: -29px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 803px;
}

.u-section-2 .u-list-1 {
  margin-top: 211px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 515px;
  grid-gap: 50px 50px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 20px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  font-style: italic;
  line-height: 1.8;
  margin-top: 20px;
  font-size: 1rem;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 20px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  font-style: italic;
  line-height: 1.8;
  margin-top: 20px;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 420px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 630px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-3 .u-group-1 {
  width: 482px;
  min-height: 945px;
  height: auto;
  margin: -67px 240px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 70px -213px 0 35px;
}

.u-section-3 .u-image-1 {
  width: 583px;
  height: 583px;
  background-image: url("images/2023-02-2801.20.23.jpg");
  background-position: 50% 50%;
  margin: -797px auto 0 -31px;
}

.u-section-3 .u-group-2 {
  width: 490px;
  min-height: 578px;
  height: auto;
  margin: -365px 43px 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 0 6px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 9px 32px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -785px;
    margin-left: -33px;
  }

  .u-section-3 .u-group-2 {
    width: 400px;
    min-height: 702px;
    margin-top: -381px;
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 238px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 370px;
    height: 370px;
    margin-top: -625px;
    margin-left: -10px;
  }

  .u-section-3 .u-group-2 {
    width: 367px;
    min-height: 825px;
    margin-top: -402px;
    margin-right: -26px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: -809px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 257px;
    min-height: 309px;
    margin-top: -177px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 127px;
    height: 127px;
    margin-top: -751px;
  }

  .u-section-3 .u-group-2 {
    width: 195px;
    min-height: 435px;
    margin-top: -161px;
    margin-right: -13px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1011px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 29px 383px 0 29px;
}

.u-section-4 .u-group-2 {
  width: 942px;
  min-height: 641px;
  margin: -132px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  min-height: 578px;
  height: auto;
  width: 490px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 16px 30px 6px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 9px 2px 0 0;
}

.u-section-4 .u-image-1 {
  width: 604px;
  height: 604px;
  background-image: url("images/www.webp");
  background-position: 50% 50%;
  margin: -772px calc(((100% - 1140px) / 2) + -11px) 168px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-3 {
    min-height: 608px;
    margin-left: -41px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -771px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-3 {
    min-height: 729px;
    width: 409px;
    margin-top: -87px;
    margin-bottom: -1px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 401px;
    height: 401px;
    margin-top: -743px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 550px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 9px;
    margin-left: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-3 {
    min-height: 342px;
    width: 313px;
    margin-top: -77px;
    margin-bottom: 0;
    margin-left: -20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 240px;
    margin-top: -814px;
    margin-right: calc(((100% - 540px) / 2) + -38px);
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 600px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-3 {
    min-height: 403px;
    width: 215px;
    margin-top: -146px;
    margin-left: -23px;
  }

  .u-section-4 .u-image-1 {
    width: 128px;
    height: 128px;
    margin-top: -705px;
    margin-right: calc(((100% - 340px) / 2) + -18px);
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1566px;
}

.u-section-5 .u-group-1 {
  width: 482px;
  min-height: 945px;
  height: auto;
  margin: -67px 240px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 70px -213px 0 -46px;
}

.u-section-5 .u-image-1 {
  width: 583px;
  height: 583px;
  background-image: url("images/2323.jpg");
  background-position: 50% 50%;
  margin: -797px auto 0 -31px;
}

.u-section-5 .u-group-2 {
  width: 490px;
  min-height: 1024px;
  height: auto;
  margin: -504px 50px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 0 6px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 9px 32px 0 30px;
}

.u-section-5 .u-image-2 {
  width: 604px;
  height: 604px;
  background-image: url("images/3233.jpg");
  background-position: 50% 50%;
  margin: -494px auto 0 -34px;
}

.u-section-5 .u-group-3 {
  height: 202px;
  width: 202px;
  margin: 70px 112px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-5 .u-icon-1 {
  height: 194px;
  width: 194px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-group-4 {
  width: 202px;
  height: 202px;
  margin: -202px auto 0 112px;
}

.u-section-5 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-5 .u-icon-2 {
  width: 172px;
  height: 172px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-image-1 {
    width: 494px;
    height: 494px;
    margin-top: -771px;
    margin-left: -35px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -494px;
    margin-right: -39px;
    height: auto;
  }

  .u-section-5 .u-image-2 {
    width: 494px;
    height: 494px;
    margin-top: -486px;
    margin-left: -35px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 136px;
    height: auto;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 238px;
  }

  .u-section-5 .u-image-1 {
    width: 400px;
    height: 400px;
  }

  .u-section-5 .u-group-2 {
    width: 401px;
    min-height: 831px;
    margin-top: -349px;
    margin-right: -50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 51px;
  }

  .u-section-5 .u-image-2 {
    width: 400px;
    height: 400px;
    margin-top: -425px;
  }

  .u-section-5 .u-group-3 {
    width: 175px;
    margin-top: 122px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 163px;
    width: 163px;
  }

  .u-section-5 .u-group-4 {
    width: 187px;
    margin-top: -169px;
    margin-bottom: 21px;
    margin-left: 51px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-icon-2 {
    width: 162px;
    height: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 58px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: -797px;
    margin-left: -38px;
  }

  .u-section-5 .u-group-2 {
    width: 314px;
    min-height: 507px;
    margin-top: -241px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.625rem;
    margin: 4px 31px -19px;
  }

  .u-section-5 .u-image-2 {
    width: 241px;
    height: 241px;
    margin-top: -235px;
    margin-left: -38px;
  }

  .u-section-5 .u-group-3 {
    width: 135px;
    margin-top: 44px;
    margin-right: 23px;
  }

  .u-section-5 .u-icon-1 {
    height: 130px;
    width: 130px;
  }

  .u-section-5 .u-group-4 {
    width: 130px;
    margin-top: -135px;
    margin-bottom: 60px;
    margin-left: 23px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-icon-2 {
    width: 108px;
    height: 108px;
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 129px;
    height: 129px;
    margin-top: -649px;
    margin-left: -18px;
  }

  .u-section-5 .u-group-2 {
    min-height: 712px;
    width: 253px;
    margin-top: -246px;
    margin-right: -34px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    width: 129px;
    height: 129px;
    margin-top: -324px;
    margin-left: -18px;
  }

  .u-section-5 .u-group-3 {
    width: 0;
    margin-top: 255px;
    margin-right: auto;
    margin-left: 27px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 4px;
  }

  .u-section-5 .u-icon-1 {
    height: 100px;
    width: 100px;
    margin-top: 21px;
    margin-bottom: -121px;
    margin-left: -28px;
  }

  .u-section-5 .u-group-4 {
    width: 99px;
    margin: 22px 0 49px auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-5 .u-icon-2 {
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
  }
}